<div class="row">
  <h1 class="pull-left">제목</h1>
  <div class="pull-right"><br/><br/>수정 2015/12/12 | 작성 2015/12/12</div>
  <div class="clearfix"></div>
</div>
<div class="row">
  <span>닉네임</span>
  <span class="pull-right">조회수 3</span>
</div>
<hr/>
<div class="row">
  본문입니다.<br/>
  본문입니다.<br/>
  본문입니다.<br/>
  본문입니다.<br/>
  본문입니다.<br/>
</div>

<div class="form-group text-right">
  <button type="submit" class="btn btn-default">수정</button>
  <button type="button" class="btn btn-default">목록</button>
</div>

