<div class="row">
  <h1>게시판 제목</h1>
</div>
<div class="row">
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th class="col-md-1 text-center"></th>
      <th class="col-md-8 text-center">제목</th>
      <th class="col-md-2 text-center">지은이</th>
      <th class="col-md-1 text-center">날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-md-1">1</td>
      <td class="col-md-8">제목입니다</td>
      <td class="col-md-1">지은이</td>
      <td class="col-md-1">2015/12/12</td>
    </tr>
    <tr>
      <td class="col-md-1">1</td>
      <td class="col-md-8">제목입니다</td>
      <td class="col-md-1">지은이</td>
      <td class="col-md-1">2015/12/12</td>
    </tr>
    <tr>
      <td class="col-md-1">1</td>
      <td class="col-md-8">제목입니다</td>
      <td class="col-md-1">지은이</td>
      <td class="col-md-1">2015/12/12</td>
    </tr>
    <tr>
      <td class="col-md-1">1</td>
      <td class="col-md-8">제목입니다</td>
      <td class="col-md-1">지은이</td>
      <td class="col-md-1">2015/12/12</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <button type="button" class="btn btn-default pull-right">
    <span class="glyphicon glyphicon glyphicon-pencil"></span>
    글쓰기
  </button>
</div>
<div class="row text-center">
  <nav>
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
