<div class="article-info">
  <div class="row">
    <h1 class="pull-left">{{article.title}}</h1>

    <div class="pull-right">
      <br/>
      <br/>
    <span>
      {{article.formattedWriteDate | amCalendar}}
    </span>
    <span ng-if="article.formattedModifyDate">
      <span class="label label-default">마지막 수정</span>{{article.formattedModifyDate | amCalendar}}
    </span>
    </div>
    <div class="clearfix"/>
  </div>
  <div class="row">
  <span>
    <small class="text-muted">작성자</small> {{article.author}}
  </span>
    |
  <span>
    <small class="text-muted">조회수</small> {{article.readCount}}
  </span>
  </div>
</div>
<hr/>
<div class="row">
  {{article.text}}
</div>

<hr/>

<div class="comment-area row">
  <div class="comment-info">
    전체 댓글 수 : {{article.comments.length}}개
  </div>

  <div class="comment-list">
    <div class="comment panel panel-default" ng-repeat="comment in article.comments" data-comment-id="{{comment.id}}">
      <div class="panel-body">
        <div class="comment-author col-md-1"><b>{{comment.author}}</b></div>
        <div class="comment-text col-md-11">{{comment.text}}</div>
      </div>
    </div>
  </div>

  <div class="comment-new row">
    <div class="col-md-12">
      새 댓글 달기
    </div>
    <div class="comment-new-author col-md-1">
      <input class="form-control" type="text" placeholder="지은이">
    </div>
    <div class="comment-new-text col-md-10">
      <textarea class="form-control" placeholder="내용을 입력하세요"></textarea>
    </div>
    <div class="comment-new-text col-md-1">
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
  </div>
</div>
<hr/>


<div class="form-group text-right">
  <a ng-href="#/boards/{{boardName}}/articles/{{article.id}}/edit" class="btn btn-default">수정</a>
  <a ng-href="#/boards/{{boardName}}/articles" class="btn btn-default">목록</a>
</div>

