<div class="row">
  <h1 class="pull-left">{{article.title}}</h1>
  <div class="pull-right"><br/><br/>수정 {{article.modifyDateString}} | 작성 {{article.writeDateString}}</div>
  <div class="clearfix"></div>
</div>
<div class="row">
  <span>{{article.author}}</span>
  <span class="pull-right">조회수 {{article.readCount}}</span>
</div>
<hr/>
<div class="row">
{{article.text}}
</div>

<div class="form-group text-right">
  <a ng-href="#/boards/{{boardName}}/articles/{{article.id}}/edit" class="btn btn-default">수정</a>
  <a class="btn btn-default">목록</a>
</div>

